@font-face{
  font-family:icomoon;
  src:	url(./icomoon.eot?fzv6fp);
  src:	url(./icomoon.eot?fzv6fp#iefix) format("embedded-opentype"),
		url(./icomoon.ttf?fzv6fp) format("truetype"),
		url(./icomoon.woff?fzv6fp) format("woff"),
		url(./icomoon.svg?fzv6fp#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:block;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.icon-bag:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-pin:before {
  content: "\e905";
}
.icon-headphones:before {
  content: "\e906";
}
.icon-left-quote:before {
  content: "\e907";
}
.icon-message-mail:before {
  content: "\e908";
}
.icon-delivery:before {
  content: "\e909";
}
.icon-shuffle:before {
  content: "\e90a";
}
.icon-arrow-point-to-right:before {
  content: "\e90b";
}
.icon-microphone:before {
  content: "\e90c";
}
.icon-ipod:before {
  content: "\e90d";
}
.icon-screen:before {
  content: "\e90e";
}
.icon-quote:before {
  content: "\e90f";
}
.icon-quote-light:before {
  content: "\e910";
}
.icon-pointed-star:before {
  content: "\e911";
}
.icon-camera:before {
  content: "\e912";
}
.icon-laptop:before {
  content: "\e913";
}
.icon-headphones1:before {
  content: "\e914";
}
.icon-smartphones:before {
  content: "\e915";
}
.icon-visibility:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e917";
}
.icon-flash:before {
  content: "\e918";
}
.icon-customer-service:before {
  content: "\e919";
}
.icon-secure-payment:before {
  content: "\e91a";
}
.icon-delivery-box:before {
  content: "\e91b";
}
.icon-delivery-truck:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
